.hidden {
  display: none;
}

.sidebar {
  border: 1px solid black;
  padding: 5px;
}

#log {
  height: 300px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#log ~ input {
  margin-top: 5px;
}

.template {
  display: none;
}

#container {
  position: relative;
  float: left;
}

.menu {

}

.action-menu {
  position: absolute;
  top: 500px;
  left: 200px;
}

.inventory-menu {
  position: absolute;
  top: 100px;
  left: 750px;
}

#currently-holding {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#currently-holding li.selected {

}


input[type="text"] {

}

#player-chat-input {
  width: 100%;
}


.selected-item-action-menu {

}


.selected-item-action-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.selected-item-action-menu li {
  display: inline-block;
}
